<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lyrics Bot</title>
  <meta name="title" content="LyricsBot">
  <meta name="description" content="A simple lyrics bot">
  <meta name="keywords" content="Nodejs, Lyrics , Genius, Telegram, Open source, Discord, JavaScript">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="2 days">
  <meta name="author" content="d4rk">

  <!-- Page previews -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://divrk.github.io/">
  <meta property="og:title" content="LyricsBot">
  <meta property="og:description" content="A simple lyrics bot">
  <meta property="og:image" content="https://divrk.pages.dev/img/lyricsbot.png">
  
  
  <!-- Page previews -->
  <meta property="twitter:card" conten="summary_large_image">
  <meta property="twitter:url" content="https://divrk.github.io">
  <meta property="twitter:title" content="LyricsBot">
  <meta property="twitter:description" content="A simple lyrics bot">
  <meta property="twitter:image" content="https://divrk.pages.dev/img/lyricsbot.png">
  
  <!-- Analytics -->
  <script async defer data-website-id="370fdbb8-7753-4f10-a56b-4cbaca290156" src="https://stats.coded.top/umami.js"></script>
  
  <style type="text/css" media="all">
    body{-webkit-user-select: none;-webkit-touch-callout: none;-webkit-tap-highlight-color: none;font-family: monospace;height: 100vh;flex-direction: column}body, .wrapper, .btns{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}.btns button{font-family: monospace;height: 30px;display: flex;padding: 10px;align-items: center;justify-content: center;gap: 10px;outline: none;border: none;background: #FFFFFF;border: 1px #BDBDBD solid;margin: 10px;border-radius: 10px;transition: 400ms;font-weight: 700}.btns button:hover{background:#8D8D8D;color:white;}a{color:#525252;-webkit-tap-highlight-color: transparent; -webkit-touch-callout: none;-webkit-user-select: none;}::selection{background-size:white;color:black;}
  </style>
</head>

<body>
  
  <div class="wrapper">
    <h2><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="skyblue" class="bi bi-music-note-list" viewBox="0 0 16 16"><path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/><path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/><path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/><path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/></svg>LyricsBot</h2>
  </div>
  
  <div class="btns">
    <button id="discord"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2537FF" class="bi bi-discord" viewBox="0 0 16 16"><path d="M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z"/><path d="M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z"/></svg>Invite</button>
    <button id="telegram"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill:skyblue" viewBox="0 0 32 32"><path d="M16 0.5c-8.563 0-15.5 6.938-15.5 15.5s6.938 15.5 15.5 15.5c8.563 0 15.5-6.938 15.5-15.5s-6.938-15.5-15.5-15.5zM23.613 11.119l-2.544 11.988c-0.188 0.85-0.694 1.056-1.4 0.656l-3.875-2.856-1.869 1.8c-0.206 0.206-0.381 0.381-0.781 0.381l0.275-3.944 7.181-6.488c0.313-0.275-0.069-0.431-0.482-0.156l-8.875 5.587-3.825-1.194c-0.831-0.262-0.85-0.831 0.175-1.231l14.944-5.763c0.694-0.25 1.3 0.169 1.075 1.219z"/></svg>Invite</button>
  </div>
  <div>
    <a href="https://d4rk.bio.link">@d4rk</a>
  </div>
  <script type="text/javascript" charset="utf-8">
  const discord = document.getElementById('discord');const telegram = document.getElementById('telegram');const links = (btn,url) => {btn.addEventListener('click', () =>{window.open(url,'_blank')})}let telegramUrl ;let discordUrl;links(discord, discordUrl)links(telegram, telegramUrl)
  </script>
</body>
</html>