<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lyrics Bot</title>
  <meta name="title" content="LyricsBot">
  <meta name="description" content="A simple lyrics bot">
  <meta name="keywords" content="Nodejs, Lyrics , Genius, Telegram, Open source, Discord, JavaScript">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="2 days">
  <meta name="author" content="d4rk">

  <!-- Page previews -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://divrk.github.io/">
  <meta property="og:title" content="LyricsBot">
  <meta property="og:description" content="A simple lyrics bot">
  <meta property="og:image" content="https://divrk.pages.dev/img/lyricsbot.png">
  
  
  <!-- Page previews -->
  <meta property="twitter:card" conten="summary_large_image">
  <meta property="twitter:url" content="https://divrk.github.io">
  <meta property="twitter:title" content="LyricsBot">
  <meta property="twitter:description" content="A simple lyrics bot">
  <meta property="twitter:image" content="https://divrk.pages.dev/img/lyricsbot.png">
  
  <!-- Analytics -->
  <script async defer data-website-id="370fdbb8-7753-4f10-a56b-4cbaca290156" src="https://stats.coded.top/umami.js"></script>
  
  <style type="text/css" media="all">
    body{-webkit-user-select: none;-webkit-touch-callout: none;-webkit-tap-highlight-color: none;font-family: monospace;height: 100vh;flex-direction: column}body, .wrapper, .btns{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}.btns .button{-webkit-tap-highlight-color: transparent; -webkit-touch-callout: none;-webkit-user-select: none;text-decoration:none;color:black;font-family: monospace;display: flex;padding: 10px;align-items: center;justify-content: center;gap: 10px;background: #FFFFFF;border: 1px #BDBDBD solid;margin: 10px;border-radius: 10px;transition: 400ms;font-weight: 700;}.btns .button:hover{background:#8D8D8D;color:white;}.cpy{color:#525252;-webkit-tap-highlight-color: transparent; -webkit-touch-callout: none;-webkit-user-select: none;}::selection{background-size:white;color:black;}
  </style>
</head>

<body>
  
  <div class="wrapper">
    <h2><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="skyblue" class="bi bi-music-note-list" viewBox="0 0 16 16"><path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/><path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/><path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/><path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/></svg>LyricsBot</h2>
  </div>
  
  <div class="btns">
    <a href="<%= invite %>"class="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="fill:skyblue" viewBox="0 0 32 32"><path d="M16 0.5c-8.563 0-15.5 6.938-15.5 15.5s6.938 15.5 15.5 15.5c8.563 0 15.5-6.938 15.5-15.5s-6.938-15.5-15.5-15.5zM23.613 11.119l-2.544 11.988c-0.188 0.85-0.694 1.056-1.4 0.656l-3.875-2.856-1.869 1.8c-0.206 0.206-0.381 0.381-0.781 0.381l0.275-3.944 7.181-6.488c0.313-0.275-0.069-0.431-0.482-0.156l-8.875 5.587-3.825-1.194c-0.831-0.262-0.85-0.831 0.175-1.231l14.944-5.763c0.694-0.25 1.3 0.169 1.075 1.219z"/></svg>Start</a>
  </div>
  <div>
    <a class="cpy" href="https://d4rk.bio.link">@d4rk</a>
  </div>
</body>
</html>
