body{

    padding: 0;

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#app{
  padding: 10px;
}
#header img{
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    object-fit: cover;
}
#header nav  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
.verified{
  font-weight: bold;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#header nav  ul .left-items{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
#header nav  ul .dots{
    margin-right: 10px;
}
#body{
  display: flex;
  align-items: center;
  justify-content: center;
}
#body img{
  width: 98%
}
#footer{
  margin: 10px
}
#footer nav  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer nav  ul .left-items{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
#bottom{
  margin:10px
}
@keyframes bounce {
  0%{
    transform: scale(1);
  }
  25%{
   transform: scale(1.1) 
  }
  50%{
   transform: scale(.9)
  }
  75%{
    transform: scale(1.1)
  }
  100%{
    transform: scale(1);
  }
}
#hehe , #haha{
  position: fixed;
  bottom: -1000px;
  background: #FFFFFFFA;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top:1px solid #BABABA70;
}
@keyframes open{
  0%{
    bottom:-1000px
  }
  70%{
    bottom:0px
  }
}
#closeBtnHolder , #close{
  display:flex;
  align-items: center;
  justify-content: center;
}
#closeShare , #info{
  position: relative;
  top:5px;
  height: 5px;
  width: 50px;
  border-radius: 10px;
  background: #878787CC
}
#hehe .hehe h4 ,#haha .hehe h4{
  padding: 10px;
  border-top: 1px solid #F4F4F4FA
}
@keyframes close{
  0%{
    bottom:0px
  }
  70%{
    bottom:-1000px
  }
}
a{
  color: #282828;
  text-decoration: none;
}
a:hover{
  color: #484848;
}
@media screen and (min-width: 720px) {
  body{
    position: relative;
}
  #app{
    vertical-align: middle;
    position: absolute;
    width: 50%;
    right: 100%;
    left: 25%;
  }
  #hehe ,#haha{
    width: 50%;
    border-left: 1px solid #BABABA70;
    border-right: 1px solid #BABABA70;
    right: 100%;
    left: 26%;
  }
}
@keyframes blur {
  0%{
    filter: blur(0)
  }
  60%{
    filter: blur(5px)
  }
}